accelerate>=1.5.2
beartype>=0.20.0
comet-ml>=3.49.5
crc32c>=2.7.1
datasets>=3.4.0
einops>=0.8.1
evaluate>=0.4.3
frozendict>=2.4.6
google-cloud-storage>=3.1.0
grain>=0.2.3
huggingface-hub[hf-transfer]>=0.29.3
jax>=0.5.2
jiwer>=3.1.0
librosa>=0.11.0
lion-pytorch>=0.2.3
matplotlib>=3.10.1
numba>=0.61.0
numpy>=2.1.3
pesq>=0.0.4
polars>=1.25.2
pyannote-audio>=3.3.2
pystoi>=0.4.1
pytest>=8.3.5
ray[data]>=2.43.0
scipy>=1.15.2
soundfile>=0.13.1
tensorboard>=2.19.0
torch<=2.8.0
torchaudio<=2.8.0
transformers>=4.49.0
wandb>=0.19.8
setuptools
ruamel.yaml
tqdm
colorama
easydict
tabulate
loguru
json5
Cython
unidecode
inflect
argparse
g2p_en
tgt
typeguard
omegaconf
hydra-core
humanfriendly
pandas
munch
tensorboardX
diffusers
praat-parselmouth
pedalboard
ffmpeg-python
nnAudio
ptwt
torchmetrics
openai-whisper
asteroid
resemblyzer
phonemizer
pypinyin
black
diffsptk
boto3
gdown
gpustat
pyworld
seaborn
textgrid
oss2